header.home-header {
  height: 500px;
  width: 100%;
  background-image: url("../images/home-header.jpg");
  background-repeat: no-repeat;
//   background-size: cover;
  background-position: center;
}
