header.iceland-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  .iceland-header-image {
    background-image: url("../images/iceland-page-header.jpg");
    background-size: cover;
    height: 700px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 5px;
    }
  }
}

h3.h3-border-radius{
  border-bottom: 5px solid rgb(97, 97, 97);
  width: 150px;
  border-bottom-right-radius:20px ;
}




@media screen and(max-width: 960px) {
  header.iceland-header {
    .iceland-header-image {
      height: 400px;
      background-size: contain;
      h1{
        font-size: 1.5rem;
      }
    }
  }
}