body,
html,
p,
button,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}


main.app-container {
  display: flex;
}

.gm-style-iw-d {
  width: 450px;
  overflow: hidden;
}

.mask{
  width: 100%;
  height: 200px;
  background-color: #25568f;
}

@media only screen and (max-width: 480px) {
  .gm-style-iw-d {
    width: 200px;
    overflow-x: hidden;
  }
}



.my-marker {
  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    }
  }
}


.center-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}